<div class="text-center">

  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ on }">
      <v-btn height="100%" v-on="on">
        <span>Change options</span>
        <v-icon>mdi-keyboard-variant</v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Choose your option
      </v-card-title>

      <v-card-text>
        <v-text-field label="Enter your option" @keyup.enter="inputEnter()" ref="input" v-model="inputValue">
        </v-text-field>
        <!-- <v-select v-model="e7" :items="options" label="...Or select from these options" multiple chips
          hint="Choose up to 8 choices" persistent-hint></v-select> -->
        <div class="text-center">
          <!-- <v-btn v-if="!chip1 && !chip2 && !chip3 && !chip4" close color="primary" dark
            @click="chip1 = true, chip2 = true, chip3 = true, chip4= true">
            Reset Chips
          </v-btn> -->

          <v-chip v-if="chip1" class="ma-2" close @click:close="chip1 = false" v-for="(item,index) in e7">
            {{item}}
          </v-chip>

        </div>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="dialog = false">
          Ok
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</div>