<div class="wheel">
  <div class="wheel-wrapper">
    <div class="wheel-pointer" @click="onClickRotate">
      Start
    </div>
    <div class="wheel-bg" :class="{freeze: freeze}" :style="`transform: rotate(${wheelDeg}deg)`">
      <div class="prize-list">
        <div class="prize-item-wrapper" v-for="(item,index) in prizeList" :key="index">
          <div class="prize-item" :style="`transform: rotate(${(360/ prizeList.length) * index}deg)`">
            <div class="prize-name">
              {{ item.name }}
            </div>
            <div class="prize-icon">
              <img :src="item.icon" class="prize-icon-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>