<v-row justify="center">
  <v-dialog v-model="dialog" width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">"{{searchKey}}" near you</span>
      </v-card-title>
      <v-card-text>
        <h3 v-if="!results">
          There was error calling data from Yelp. Please try again.
        </h3>
        <h3 v-else-if="!results.length">
          There is no result for '{{searchKey}}' from Yelp.
        </h3>
        <div v-else class="results-wrapper">
          <div v-for="(result) in results" class="result">
            <h2 class="result-header">
              {{result.name}}
              <a :href="result.url" target="_blank">
                <img src="../../assets/yelplogo.png" width="40px" height="20px" class="yelplogo" />
              </a>
            </h2>
            <div class="result-content">
              <a :href="result.url" target="_blank" class="result-content-img">
                <img :src="result.image_url" :alt="result.name" width="100%" height="100%" />
              </a>
              <div class="result-content-texts">
                <img v-if="result.rating<0.5" src="../../assets/regular_0.png" />
                <img v-else-if="result.rating>=0.5 && result.rating <= 1.3" src="../../assets/regular_1.png" />
                <img v-else-if="result.rating>1.3 && result.rating<=1.8" src="../../assets/regular_1_half.png" />
                <img v-else-if="result.rating>1.8 && result.rating <= 2.3" src="../../assets/regular_2.png" />
                <img v-else-if="result.rating>2.3 && result.rating<=2.8" src="../../assets/regular_2_half.png" />
                <img v-else-if="result.rating>2.8 && result.rating<=3.3" src="../../assets/regular_3.png" />
                <img v-else-if="result.rating>3.3 && result.rating<=3.8" src="../../assets/regular_3_half.png" />
                <img v-else-if="result.rating>3.8 && result.rating<=4.3" src="../../assets/regular_4.png" />
                <img v-else-if="result.rating>4.3 && result.rating <= 4.8" src="../../assets/regular_4_half.png" />
                <img v-else src="../../assets/regular_5.png" />

                <p class="result-content-texts-review-count">
                  {{result.review_count}} reviews
                </p>
                <p>
                  <strong>{{result.price}}</strong>
                  <span v-for="(category,key) in result['categories']">

                    <span :key="key" v-if="key !=result['categories'].length-1">
                      {{category.title}},
                    </span>
                    <span :key="key" v-else>
                      {{category.title}}
                    </span>
                  </span>
                </p>
                <p>
                  {{result.location.display_address.join(" ")}}
                </p>
                <p>
                  {{result.display_phone}}
                </p>

              </div>

            </div>
          </div>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="dialog = false">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-row>